body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

ul li:first-child {
    margin-left: 20%; 
}

ul li a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: lightgrey;
}

#block {
    margin: 20px auto;
    width: 70%;
    min-height: 400px;
    padding: 10px;
    border: 1px solid #000; 
}

form {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

form label {
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    margin-left: 210px;
}

.name-wrapper {
    padding-left: 30px;
}


table {
    margin: 0 auto;
    width: 80%;
}

thead th {
    text-decoration: underline;
}
